.shot-charts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: fit-content;
  flex-direction: column;
  margin-top: 5px;
}
.except-title {
  display: flex;
  flex-direction: row;
}
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.other-content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
